.images-box{
  align-items: center;
  margin: 30px auto;
    display: flex;
    width: 1280px;
    border: 2px solid lightblue;
    flex-wrap: wrap;
 
}

.images{
    justify-content: center;
    display: flex;
    margin: 10px;
    width: 300px;
    display: flex;
    overflow: hidden;
    transition: .2s;
    flex-wrap: wrap;

}

.images:hover{

    transform: scale(1.125);
    box-shadow: 4px 13px 17px 2px rgba(0,0,0,0.83);
   

}
@media only screen and (max-width:600px){
    .images-box{
        display: block;
        width: fit-content;

    }
    .images{
        width: 150px;
    
    }
    
}
@media only screen and (max-width:768px){
    .images-box{
        display: block;
        width: fit-content;
        display: flex;
        /* ssss */
        flex-wrap: wrap;

    }
    .images{
        width: 150px;
    }
    
}

